.App {
    text-align: left;
    color: white;
}

.App ul {
    list-style-type: none;
    overflow: hidden;
}

.App button {
    background-color: #282c34;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.App button:hover {
    background-color: #484c54;
}

.App button.active {
    background-color: #484c54;
}

.App textarea {
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    color: white;
    font-size: initial;
    font-family: inherit;
    line-height: 1.4;
    resize: none;
}

.App textarea:focus {
    background-color: #22262e;
}

.QuestContainer {
    padding-top: 75px;
    display: flex;
}

.QuestOverview {
    display: inline-block;
    width: 40%;
}

.QuestOverview > ul {
    padding: 0;
}

.QuestDetailView {
    display: inline-block;
    width: 60%;
}

.sticky {
    position: fixed;
}
