/* fix app to window size */
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden on body removes scroll bounce */
    overflow: hidden;
}

/* for overflow leakage test */
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {
    width: 90%;
    height: 90%;
} */
