.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    flex-grow: 0;
    overflow: hidden;
    margin-inline: 2em;
}

.Menu {
    display: flex;
    align-items: center;
}

.Menu .username {
    margin-inline: 0.5em;
}
