.Quest {
    display: flex;
    gap: 0.5em;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    margin-inline: 1em;
}

.QuestListView {
    flex-basis: 30%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.QuestListTitleBar {
    display: flex;
    align-items: center;
}

.QuestListTitle .title {
    font-size: x-large;
    font-weight: bold;
    /* padding-left: 0; */
}

.QuestListItems > button {
    display: block;
    /* width: 100%; */
    text-align: left;
}

.QuestDetailView {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    overflow: hidden;
}

.QuestDetailTools button:active {
    background-color: #1f2228;
}

.QuestDetail .title {
    font-weight: bold;
    font-size: large;
}
