.Quest {
    display: flex;
    gap: 0.5em;
    flex-basis: 0%;
    flex-grow: 1;
    overflow: hidden;
    margin-inline: 1em;
}

.QuestListView {
    flex-basis: 0%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.QuestListTitleBar {
    display: flex;
    align-items: center;
}

.QuestListTitle .title {
    font-size: x-large;
    font-weight: bold;
    /* padding-left: 0; */
}

.QuestListItems > button {
    display: block;
    /* width: 100%; */
    text-align: left;
}

.QuestDetailView {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 0;
    overflow: hidden;
}

@media (orientation: landscape), (min-width: 768px) {
    .QuestDetailView {
        flex-basis: 60%;
    }
}

.QuestDetailTools {
    display: flex;
    justify-content: right;
}

.QuestDetailView button {
    margin-inline: 1em;
}

.QuestDetailTools button:active {
    background-color: #1f2228;
}

.QuestDetail {
    overflow: auto;
}

.QuestDetail .title {
    font-weight: bold;
    font-size: large;
}

/* an overview for desktop screen */
@media (orientation: landscape) and (min-width: 1280px) {
    .QuestListView {
        display: flex;
    }
    .QuestList {
        flex-basis: 25%;
        flex-grow: 0;
    }
    .QuestDetailView {
        flex-basis: 40%;
    }
}
